# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/block-navigation.js
coverage/clover.xml
coverage/coverage-final.json
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sorter.js
coverage/tmp/coverage-7756-1667079609941-8.json
coverage/tmp/coverage-7756-1667079610022-7.json
coverage/tmp/coverage-7756-1667079610120-2.json
coverage/tmp/coverage-7756-1667079610214-3.json
coverage/tmp/coverage-7756-1667079610293-4.json
coverage/tmp/coverage-7756-1667079610387-5.json
coverage/tmp/coverage-7756-1667079610465-6.json
coverage/tmp/coverage-40460-1719169939124-8.json
coverage/tmp/coverage-40460-1719169939161-3.json
coverage/tmp/coverage-40460-1719169939203-7.json
coverage/tmp/coverage-40460-1719169939256-2.json
coverage/tmp/coverage-40460-1719169939300-5.json
coverage/tmp/coverage-40460-1719169939340-4.json
coverage/tmp/coverage-40460-1719169939378-6.json
coverage/tmp/coverage-40460-1719169939416-9.json
coverage/tmp/coverage-40460-1719169939456-10.json
coverage/tmp/coverage-40460-1719169939494-11.json
coverage/tmp/coverage-40460-1719169939533-12.json
src/__tests__/__snapshots__/App.test.tsx.snap
coverage/base.css
coverage/block-navigation.js
coverage/clover.xml
coverage/coverage-final.json
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sorter.js
coverage/tmp/coverage-7756-1667079609941-8.json
coverage/tmp/coverage-7756-1667079610022-7.json
coverage/tmp/coverage-7756-1667079610120-2.json
coverage/tmp/coverage-7756-1667079610214-3.json
coverage/tmp/coverage-7756-1667079610293-4.json
coverage/tmp/coverage-7756-1667079610387-5.json
coverage/tmp/coverage-7756-1667079610465-6.json
src/__tests__/__snapshots__/App.test.tsx.snap
coverage/base.css
